<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS5Features.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>259BB4AA1D398A93003BBB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259BB4C31D398A93003BBB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259BB4CE1D398A93003BBB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
